@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 1980px;
    width: 100%;
    /* height: 900px; */
    font-size: 100%;
    background: linear-gradient(68.15deg, #0B0A07 16.62%, #6F6866 85.61%);
    color: #EADEDA;
    /* overflow: hidden; */

}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1vh;
}   
.cabecalho-imagem{
    height: 9vh;
}
.avatarPerfil{
    height: 256px;
}
.cabecalho-menu {
    display: flex;
    gap: 32px;
}
.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    transition: color 0.3s ease;
    cursor: pointer;
}
.cabecalho-menu-item:hover{
    color: #cecece;
}
.conteudo {
    border-top: 0.4px solid #333333;
    margin-bottom: 32px;
}
.conteudo-principal{
    height: 45vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* margin-bottom: 20px; */
}
.conteudo-principal-escrito{
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.ola{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: beige;
    margin-top: 25px;
}
.euSou{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: beige;
}
.nome{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 56px;
    color: beige;
}
.funcao{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: beige;
}
.LinkedInbotao{
    background-color: #652C00;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25) ;
    font-size: 16px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.LinkedInbotao:hover{
    background-color: rgba(73, 38, 15, 0.884);
}

.apresentacaoHabilidades{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-container{
    border-radius: 8px;
    max-width: 1120px;
    width: 100%;
    height: 42vh;
    background-color: transparent;
    padding: 3vh;
}

.slide-content{
    margin: 0 40px;
    overflow: hidden;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    border-radius: 16px 16px 0px 16px;
    padding: 16px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #1D3A54;
    border-radius: 16px 16px 0px 16px;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: -20px;
    height: 20px;
    width: 20px;
    background-color: #1D3A54;
}
.overlay::after{
    border-radius: 0 16px 0 0;
    background-color: #CAD2C5;
}

.card{
    /* padding: 10px; */
    height: 215px;
    width: 360px;
    border-radius: 16px;
    background-color: #CAD2C5;
    color: #333333;
}

.card-image{

    position: relative;
    height: 75px;
    width: 75px;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}
.description{
    font-family: 'Sarala', sans-serif;
    font-size: 14px;
    color: #333333;
    text-align: center;
}
.swiper-navBtn{
    color: #1D3A54;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: #132331;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: #CAD2C5;
}
.swiper-pagination-bullet-active{
    background-color: #9aa195;
}
@media screen and (max-width:768px){
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
}
@media screen and (max-width:480px){
    body{
        max-width: 1080px;
        width: 100%;
        /* height: 900px; */
        font-size: 100%;
        background: linear-gradient(68.15deg, #0B0A07 16.62%, #6F6866 85.61%);
        color: #EADEDA;
        overflow: hidden;
    
    }
    .cabecalho {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 1vh;
        height: 60px;
    }  
    .cabecalho-imagem{
        height: 9vh;
    }
    .avatarPerfil{
        margin-top: 20px;
        height: 146px;
    }
    .conteudo {
        height: 700px;
        border-top: 0.4px solid #333333;
        margin-bottom: 16px;
    }
    .conteudo-principal{
        height: 40vh;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        margin-bottom: 2vh;
    }
    .conteudo-principal-escrito{
        height: 196px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        left: 10px;
    }
    .ola{
        font-family: 'Sarala', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: beige;
        margin-top: 20px;
    }
    .nome{
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 45px;
        color: beige;
    }
    .funcao{
        font-family: 'Sarala', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: beige;
    }
    .card{
        height: 38vh;
    }
    .description{
        font-family: 'Sarala', sans-serif;
        font-size: 14px;
        color: #333333;
        text-align: center;
    }
    .overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: -20px;
    height: 20px;
    width: 20px;
    background-color: #1D3A54;
}
.overlay::after{
    height: 20px;
    width: 20px;
    border-radius: 0 16px 0 0;
    background-color: #CAD2C5;
}

    .slide-content{
        margin: 0 5px;
    }
    .swiper-navBtn{
        display: none;
    }
    .apresentacaoHabilidades{
        margin-top: 3vh;
    }
    .swiper-pagination{
        margin-top: 50px;
    }
}